hello account You are now connect to Instagram
<p>ID: {{user.ig_id}}</p>
<p>Username: {{user.username}}</p>
<p>Name:{{user.displayName}}</p>

<h4> </h4>
<a href="/photos">check most popular photos</a>
<h4> </h4>
<a href="/logout">click to logout</a>
