hello account, you are now connect with fb
<p>ID: {{user.fb_id}}</p>
<p>Username: {{user.name}}</p>
<p>Name:{{user.displayName}}</p>

<a href="/fb">check photos</a>
<h4> </h4>
<a href="/logout">click to logout</a>
