<h3> The photos that you have ^.^ </h3>
<a href="/login">Click to go back to login</a>

<h3>results: </h3>

{{#each photos}}

<img src="{{url}}" class="img-responsive" class="img photos">

  
{{/each}}

<h4> </h4>
<a href="/logout">click to logout</a>