
<h1>New App for Assignment 1</h1>
<h4>by Ming Cheng</h4>
<p>This app allow you to access both facebook and instagram</p>

<a href="/auth/instagram">Login with Instagram to see most popular</a>
<h4> </h4>
<a href="/auth/facebook">Login with Facebook to see what you have</a>