 <h3> The photos that is most popular ^.^ </h3>
 <a href="/login">Click to go back to login</a>

{{#each photos}}

  <img src="{{url}}" class="img-responsive" class="img photos">
  <h3>Caption: </h3>{{captions}}

  
{{/each}}
