{{#each photos}}

  <img src="{{urlfb}}" class="img-responsive" class="img fbphotos">
  <h3>Caption: </h3>

  <div
  	class="fb-like"
  	data-share="true"
  	data-width="450"
 	 data-show-faces="true">
	</div>
{{/each}}